@font-face {
    font-family: "AleloTextoRegular";
    src: url("../fonts/AleloTexto-Regular.ttf");
}

@font-face {
    font-family: 'AleloTexto';
    src: url('../fonts/AleloTexto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: "AleloTitulo";
    src: url("../fonts/AleloTitulo-Extrabold.ttf");
}

@font-face {
    font-family: "AleloTituloItalic";
    src: url("../fonts/AleloTitulo-ExtraboldItalic.ttf");
}

* {
    text-decoration: none;
    list-style: none;
}

:root {
    --cor-primaria: #008160;
    --verde-menu: #015A43;
    --cor-secundaria: #BDD654;
    --cor-terciaria: #FFDC51;
    --branco-fundo: #F2F2F0;
}

body {
    background-color: var(--branco-fundo);
}

.header {
    position: fixed;
    z-index: 1;
}

.header-resp {
    display: none;
}

.menu {
    margin-right: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-secundaria);
    position: fixed;
    width: 100%;
    height: 4.5em;
    z-index: 1;
}

.menu__logo-imagem {
    height: 3.5em;
}

.menu__lista {
    display: flex;
}

.menu__lista-resp {
    display: none;
}

.menu__lista-item {
    list-style: none;
    margin: 1em;
}

.menu__lista-item a {
    color: var(--verde-menu);
    font-weight: 500;
}

.menu__lista-item_resp {
    padding: 1em;
}

.menu__lista-item_resp a {
    color: var(--branco-fundo);
    font-weight: 500;
}

.menu__lista-item a:hover {
    color: var(--cor-primaria);
}

.container {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.banner-mob {
    display: none;
}

.texto-principal {
    position: relative;
    top: 3.5em;
    text-align: center;
    max-width: 100%;
    height: auto;
    width: 100%;
}

/* .banner-principal {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  } */

.como-participar-titulo {
    text-align: center;
    /* font-family: 'Bangers', cursive; */
    font-family: "AleloTitulo";
    font-size: 1em;
    margin-top: 2em;
    padding: 2em 2em;
    background-image: url(../image/bg-parallax.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;;
}

/* #img-parallax{
    margin-top: 10em;
} */

.como-participar-titulo>h1 {
    font-size: 3em;
    color: var(--cor-primaria);
    /* text-shadow: 2px 2px 2px #00000075; */
}

.como-participar-itens {
    position: relative;
    display: flex;
    flex-direction: row;
}

.como-participar-itens_texto {
    margin-top: 5em;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;

}

.como-participar-itens_texto img{
    width: 100%;
    height: auto;
    max-height: 100%;
    /* ajuste o valor para o que for apropriado para o seu conteúdo */
    overflow: hidden;
    object-fit: contain;
}

.texto-principal img {
    max-width: 100%;
}

/*  .como-participar-corpo h2{
    font-size: 2em;
    margin: 0 auto;
} */
.como-participar-corpo p {
    font-size: 1.25em;
}

.cards-imagem {
    width: 100px;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 1em 2em;
    background-color: var(--cor-primaria);
    height: auto;
    border-radius: 2em;
    box-shadow: 2px 2px 5px #00000080;
}

.card-texto {
    padding: 0.5em;
    font-size: 1em;
    font-family: "AleloTitulo";
    color: #fff;
}

.card-texto span {
    color: var(--cor-secundaria);
}

.card-texto span a {
    text-decoration: none;
    color: var(--cor-secundaria);
}

.card-texto span a:visited {
    color: var(--cor-secundaria);
}

.card-numero {
    text-align: center;
    color: var(--cor-terciaria);
    font-size: 2em;
    font-family: "AleloTituloItalic";
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.699);
}

.texto-titulo {
    font-family: "AleloTitulo";
}

.texto-paragrafo {
    font-family: "AleloTextoRegular";
}

#premios {
    display: flex;
    background-image: url("../image/bg.png");
    color: #fff;
    padding: 1em 4em;

}

.premios-div {
    padding-top: 2.5em;
}

.premios-img img {
    width: 90%;
}

.premios-texto-titulo {
    font-family: "AleloTitulo";
}

.premios-texto-paragrafo {
    font-family: "AleloTextoRegular";
    font-size: 1.2em;
}


#regulamentos {
    padding: 2em 4em;
    background-color: var(--branco-fundo);
    margin: 0;
    height: auto;
}

.texto-reg-titulo {
    font-family: 'AleloTitulo';
    color: var(--cor-primaria);
}

.texto-reg-paragrafo {
    font-family: 'AleloTextoRegular';
    color: var(--cor-primaria);
}

.rodape {
    padding: 3em;
    font-family: "AleloTexto";
    background-color: var(--branco-fundo);
    color: #000;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row-column {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.footer-logo {
    width: 5em;
}

.footer-autorizacao {
    margin: 2em;
    font-family: "AleloTexto";
    text-align: center;
}

.rodape small {
    color: var(--cor-primaria);
}

.rodape a small:hover {
    color: var(--cor-secundaria);
}

.rodape small:visited {
    color: var(--cor-primaria);
}


@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .header-resp {
        display: flex;
        background-color: var(--cor-secundaria);
        position: fixed;
        width: 100%;
        height: 5em;
        justify-content: space-between;
        align-items: center;
        z-index: 1;
    }

    .header-icon {
        margin: 0 2em;
    }

    #botao-menu {
        height: 30px;
        background: transparent;
        border: none;
        transition: all 1s ease-in-out;
    }

    .rotated {
        transform: rotate(180deg);
    }

    .menu__lista-resp {
        display: none;
        position: fixed;
        top: 56px;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--cor-primaria);
        color: #fff;
        z-index: 1;
        text-align: center;
        padding-top: 5em;
        padding-left: 0;
        font-family: "AleloTitulo";
        font-size: 1.5em;
        transition: all 0.5s ease-in-out;
    }

    .menu__lista-item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .texto-principal {
        display: none;
    }

    .banner-mob {
        display: block;
        position: relative;
        top: 80px;
        background-image: url(../image/bg.png);
        height: 100%;
        padding: 1em 0;
    }

    .banner-mob img {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: 100%;
        object-fit: contain;
        /* faz com que a imagem se ajuste à altura da div */
    }

    .como-participar-titulo {
        padding: 1em;
    }

    .como-participar-itens_texto, #img-foto{
        margin: 0 auto;
        display: block;
        max-width: 100%;
    }

    .como-participar-itens{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
    }

    #img-parallax{
        width: 80%;
        display: none;
    }

    .card {
        max-width: 90%;
        padding: 0em;
    }

    .card-numero,
    .card-texto {
        margin: 0;
    }

    #premios {
        flex-direction: column;
        padding: 2em 2em;
    }

    .premios-div {
        padding: 2em 0;
    }

    .premios-texto-paragrafo {
        line-height: 1.5em;
    }

    .premios-img {
        width: 70%;
        margin: 0 auto;
    }

    #regulamentos {
        padding: 1em;
    }

    #regulamentos ul {
        padding: 0;
    }

    #regulamentos li {
        margin: 1em 0;
    }
}